.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.title {
    font-size: 1.8rem;
    text-align: center;
    flex-shrink: 0;
}

.link_button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: -0.4rem;
    transform: translateY(-50%);
}

.link_button {
    padding: 0.6rem 0.8rem;
    display: flex;
    gap: 0.6rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    cursor: pointer;
    flex-shrink: 0;
    &:hover {
        background-color: var(--dark_825_color);
    }
    &:active {
        background-color: var(--dark_900_color);
    }
}

.link_text {
    font-size: 1.2rem;
    border-bottom: 0.1rem solid var(--dark_600_color);
}

.external_link_svg {
    color: var(--dark_500_color);
    width: 1.4rem;
    flex-shrink: 0;
    padding-bottom: 0.2rem;
}